{% extends 'layouts/base.html' %}

{% block content %}
<h1>New Question</h1>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Title</label>
    <input type="email" class="form-control" id="exampleFormControlInput1"
           placeholder="Your Question">
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Text</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
              placeholder="Describe your problem"></textarea>
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Tags</label>
    <input type="email" class="form-control" id="exampleFormControlInput2"
           placeholder="Write tags here">
</div>
</br>
<div class="row askbutton">
    <ul class="list-group" style="margin-left: 15px; max-width: 150px;">
        <button type="button" class="btn btn-outline-primary">Ask it now!</button>
    </ul>
</div>
{% endblock %}