{% extends 'layouts/base.html' %}

{% block content %}

<hr>
<div class="row questionAtList">
    <div class="col-3">
        <img src="../static/img/ava.jpg" alt="" class="question-image">
        <br/>
        <div class="row likes">
            <div class="col-9">
                <div class="likepostbuttn">
                    <button type="button" class="btn bt btn-outline-primary">Like post</button>
                </div>
            </div>
            <div class="col-3">
                <div class="row LikesAtList">5</div>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="question-title">{{ question.title }}</div>
        <div class="question-text">{{ question.content }}</div>
        <br/>
        <div class="row ansTag">
            <div class="col-10">Tag:
                {% for tag in question.tag %}
                <a style="color: #6c757d" href="{% url 'tagsPage' tag %}">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<hr>

{% for question in questions %}

{% include 'components/answersList-item.html' %}

{% endfor %}

<hr>
<div class="mb-3"><textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                            placeholder="Write your answer here"></textarea>
</div>

<div class="row askbutton">
    <ul class="list-group" style="margin-left: 15px; max-width: 150px;">
        <a class="btn btn-outline-primary" href="{% url 'index' %}">Answer now!</a>
    </ul>
</div>
</br>

{% include 'components/paginator-item.html' %}

{% endblock %}