{% extends 'layouts/base.html' %}

{% block content %}
<h1>Registration</h1>
</br>
<div class="secondalert alert alert-danger" role="alert">
    Sorry, this email address is already registred.
</div>
</br>
<form>
    <div class="mb-3">
        <label for="exampleInputLogin1" class="form-label">Login</label>
        <input type="email" class="form-control" id="exampleInputLogin1" aria-describedby="emailHelp"
               placeholder="Write your login here">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1"
               placeholder="Write your Email here">
    </div>
    <div class="mb-3">
        <label for="exampleInputNickName1" class="form-label">NickName</label>
        <input type="email" class="form-control" id="exampleInputNickName1"
               placeholder="Write your NickName here">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1"
               placeholder="Write your Password here">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword2" class="form-label">Repeat password</label>
        <input type="password" class="form-control" id="exampleInputPassword2"
               placeholder="Repeat your Password here">
    </div>
    <div>
        Upload avatar
        <button type="button" class="btn btn-outline-primary">Choose from gallery</button>
    </div>
    </br>
    <button type="submit" class="btn btn-outline-primary" href="{% url 'index' %}">Create account</button>
    </br>
</form>
</br>
<div class="question-title">Have account? Log in <a href="{% url 'authorization' %}">here</a></div>
{% endblock %}