{% extends 'layouts/base.html' %}

{% block content %}
<h1>Personal Settings</h1>
<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
               placeholder="Alex@mail.ru">
    </div>
    <div class="mb-3">
        <label for="exampleInputLogin" class="form-label">Login</label>
        <input type="password" class="form-control" id="exampleInputLogin" placeholder="Rockstar">
    </div>
    <div class="mb-3">
        <label for="exampleInputNickName" class="form-label">NickName</label>
        <input type="password" class="form-control" id="exampleInputNickName" placeholder="Alex">
    </div>
    <div class="mb-3">
        <label class="form-label">Upload Avatar</label>
        </br>
        <img src="../static/img/ava.jpg" alt="" class="question-image">
        </br>
        <button type="submit" class="btn btn-outline-primary">Choose from gallery</button>
        </br>
    </div>
    <hr>
    <a class="btn btn-outline-primary" href="{% url 'index' %}">Save changes</a>
</form>
{% endblock %}