{% extends 'layouts/base.html' %}

{% block content %}

<h1>Tag: Guitars</h1>

{% for question in questions %}

{% include 'components/question-item.html' %}

{% endfor %}
</br>
<div class="pages">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="{% url 'index' %}">1</a></li>
            {% for pages in pages %}

            {% include 'components/paginator-item.html' %}

            {% endfor %}
        </ul>
    </nav>
    </ul>
</div>
{% endblock %}
