<div class="row question">
    <div class="col-3">
        <img src="../static/img/ava.jpg" alt="" class="question-image">
        <br/>
        <div class="row likes">
            <div class="col-8">
                <div class="likepostbuttn">
                    <a class="btn btn-outline-primary" href="">Like post</a>
                </div>
            </div>
            <div class="col-4">
                <div class="row Likes">5</div>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="question-text">{{ question.content }}</div>
        <br/>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Correct</label>
        </div>
    </div>
</div>
