<div class="row question">
    <div class="col-3">
        <img src="../static/img/ava.jpg" alt="" class="question-image">
        <br/>
        <div class="row likes">
            <div class="col-8">
                <div class="likepostbuttn">
                    <a class="btn btn-outline-primary" href="">Like post</a>
                </div>
            </div>
            <div class="col-4">
                <div class="row Likes">5</div>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="question-title">{{ question.title }}</div>
        <div class="question-text">{{ question.content }}</div>
        <br/>
        <div class="row ansTag">
            <div class="col-2"><a style="color: #6c757d" href="{% url 'question' question.id %}">answers</a></div>
            <div class="col-10">Tags:

                {% for tag in question.tag %}
                <a style="color: #6c757d" href="{% url 'tagsPage' tag %}">{{ tag }}</a>
                {% endfor %}

            </div>
        </div>
    </div>
</div>